/* 
Color Palette
1st #FF9900, Vitamin C
2nd #424242, Route 66
3rd #E9E9E9, Steady Grey
4th #BCBCBC, BC
5th #3299BB, Gamebookers Blue

Possible color changes
Vitamin C to #D76849
Gamebookers Blue to #79B3B6
*/


img {
	width: 100%;
	position: fixed;
}

li {
	background: #79B3B6;
	float: right;
	list-style: none;
	padding: 30px;
	margin-top: -20px;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 32px;
}

a:hover {
	color: #D76849;
}

.container_image {
	
}

.header {
	background: none;
	margin-left: 300px;
	opacity: .65;
	
	
}

.me {
	
}

.grid_4
 {
	background: none;
	margin: 125px 0 0 -150px;
	opacity: .95;
	position: relative;
}

h2 {
	color: #fff;
	font-size: 275px;
	line-height: 90%;
	
}



