/* 
Color Palette
1st #FF9900, Vitamin C
2nd #424242, Route 66
3rd #E9E9E9, Steady Grey
4th #BCBCBC, BC
5th #3299BB, Gamebookers Blue
*/


img {
	width: 100%;
	position: fixed;
}

li {
	background: #bcbcbc;
	float: right;
	list-style: none;
	padding: 40px;
	margin-top: -20px;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 32px;
}

a:hover {
	color: #3299bb;
}

.container_image {
	z-index: 10;
}

.header {
	background: none;
	opacity: .80;
	z-index: 30;
}

.me {
	margin-right: 250px;
}

.article {
	background: red;
	z-index: 30;
}

h2, p {
	color: red;
	font-size: 48px;
	z-index: 30;
}



