/* 
Color Palette
1st #FF9900, Vitamin C
2nd #424242, Route 66
3rd #E9E9E9, Steady Grey
4th #BCBCBC, BC
5th #3299BB, Gamebookers Blue
*/


.header {
	background: none;
	opacity: .65;
	z-index: 20;
}

.home {
	margin-right: 150px;
}

img {
	width: 100%;
	position: fixed;
}

.container_image {
	z-index: 10;
}

.story {
	background: red;
	z-index: 30px;
}

li {
	background: #3299bb;
	float: right;
	list-style: none;
	padding: 20px;
	margin-top: -20px;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

p {
	color: white;
	font-size: 18px;
}

a:hover {
	color: #ff9900;
}

